/* body {
    margin: 0;
    padding: 0;
    height:1000px;
} */
.footer-container {
    /* background-color: rgb(22, 49, 75); */
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    /* margin-bottom: -30px; */
}

.footer {
    /* position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    color: rgba(129, 129, 129, 0.678); */
    float: right;
    width: 150px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-shadow: 1px 1px 2px rgb(97, 97, 97);
    /* font-size: 15px; */
    font-weight: 400;
    opacity: 1;
    transition: all .15s ease-in-out;
}

.footer a:hover {
    color: #deb6ff;
    opacity: 1;
}
