/* body {
    margin: 0;
    padding: 0;
    height:1000px;
} */
.footer-container {
    /* background-color: rgb(22, 49, 75); */
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.footer {
    /* position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    color: rgba(129, 129, 129, 0.678); */
    float: right;
    width: 300px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.footer a {
    text-decoration: none;
    color: rgb(158, 158, 158);
    display: inline-block;
    /* font-size: 15px; */
    font-weight: 400;
    opacity: 0.6;
    transition: opacity ease 0.5s
}

.footer a:hover {
    opacity: 1;
}
