html {
    width: 100%;
    height: 100%;
    background-image: url("https://i.redd.it/fv8pbnl64po41.jpg");
    background-size: cover;
}

.container {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.header { grid-area: 1 / 1 / 2 / 2; }

.body {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .bubble {
    background-image: url(../../../public/images/ACNHBUBBLE.png);
    background-size: cover;
    background-size: 400px;
} */

.form {
    background-color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}
