.explore-page-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.explore-page-container > h1 {
    padding: 30px 0px;
}

.single-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 5px 5px;
    filter: brightness(70%);
    filter: blur(4px);
    filter: saturate(.6);
    transition: all .30s ease-in;
}

.single-image:hover {
    filter: brightness(110%);
    filter: blur(0);
    filter: saturate(100%);
    /* width: 240px;
    height: 240px; */
}
