.container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    /* background-color: #F7F7F7; */
    background-color: rgba(255, 255, 255, 0.95);
    margin: auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
    position: absolute;
    top: 20vw;
    left: 0;
    right: 0;
}

.container-box {
    display: flex;
    justify-content: center;
}

.container-box img {
    /* margin-top: 20px; */
    max-height: 32px;
    max-width: 32px;
}

.container-box h1 {
  color: #666;
  text-align: center;
  font-size: 1.8em;
  /* font-family: roboto; */
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

.container ul {
  margin-top: 35px;
  margin-bottom: 35px;
}

.container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}

.container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.signup-submit {
    border: 0px;
    width: 80px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 15px 0px;
    font-family: roboto;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 135px;
  }

  .signup-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
  }

  .signup-container a {
    margin-top: 20px;
    margin-left: 98.31px;
    text-decoration: none;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }
