.single-image-detail-container {
    display: flex;
    position: relative;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: column; */
    width: 90vw;
    max-height: 100%;
    margin: 200px auto;
    /* background-color: blueviolet; */
    bottom: 100px;
}

.single-image-right-container {
    /* background-color: rgba(0, 255, 255, 0.171); */
    width: 30%;
    height: 100%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.432);

    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    /* background-color: #d6dee1; */
    background-color: #a8bbbf77;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.single-image-detail-container h1 {
    padding-top: 20px;
}

.date {
    color: #a8bbbf;
    font-size: 15px;
    margin-top: 5px;
}

.caption {
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

.single-image-detail-container img {
    object-fit: contain;
    width: 70%;
}

/* .single-image-information-container > p {
    color: white;
    margin-top: 15px;
    font-size: 15px;
} */

.updateImgBtn {
    margin-right: 20px;
    margin-left: 90%;
}

.update-image-form > p {
    font-size: 20px;
    max-height: 20px;
    max-width: 20px;
    margin-top: 15px;
    color: #d0f7ff;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.update-image-form > p:hover {
    color: rgb(178, 185, 247);
}

hr.single-image-hr {
    margin-top: 5%;
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.301);
}

.all-comments-container {
    position: relative;
    top: 20px;
    min-height: 80px;
}

.all-comments-container > h2 {
    padding-bottom: 20px;
    color: white;
}

.postCommentBtn > i {
    font-size: 20px;
    max-width: 20px;
    max-height: 20px;
    color: #d0f7ff;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.postCommentBtn > i:hover {
    color: rgb(178, 185, 247);
}

.all-comments-container {
    overflow-y: auto;
}

.individual-comment {
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 15px 5px;
    border-radius: 10px;
    background-color: rgba(95, 241, 241, 0.048);
    transition: all .15s ease-in-out;
}

.individual-comment:hover {
    background-color: rgb(94, 142, 170);
    /* background-color: rgba(130, 255, 255, 0.185); */
}

.individual-comment-user {
    color: #d0f7ff;
}

.individual-comment-comment {
    color: #ffffff;
    padding: 8px;
}

.deleteCommentBtn {
    margin-right: 20px;
    margin-left: 90%;
    padding-top: 10px;
    /* text-align: end; */
}

.deleteCommentBtn > p {
    font-size: 18px;
    width: 18px;
    color: #abccd4;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.deleteCommentBtn > p:hover {
    color: #d88f8f;
}
