.welcome-text {
    position: absolute;
    /* margin-left: 50px; */
    color: #fff;
    /* font-size: 25px; */
    /* max-width: 230px; */
}

.islandr {
    font-size: 30px;
}

.signup {
    transition: all .15s ease-in-out;
}

.signup:hover {
    color: #deb6ff;
    text-shadow: 1px 1px 2px rgb(97, 97, 97);
}

.postImgBtn {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-right: 25px;
    transition: all .15s ease-in-out;
}

.postImgBtn:hover {
    color: #deb6ff;
    text-shadow: 1px 1px 2px rgb(97, 97, 97);
}

.profile-button {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-right: 25px;
    /* position: fixed; */
    /* top: 22.5px; */
    /* right: 20px; */
    transition: all .15s ease-in-out;
}

.profile-button:hover {
    color: #deb6ff;
    text-shadow: 1px 1px 2px rgb(97, 97, 97);
}

.explore-button {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    right: 35px;
    max-height: 30px;
    max-width: 32px;
    transition: all .15s ease-in-out;
}

.explore-button:hover {
    color: #deb6ff;
    text-shadow: 1px 1px 2px rgb(97, 97, 97);
}

.profile-dropdown {
    position: fixed;
    top: 60px;
    right: 1rem;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.815);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 1.2rem;
    padding-left: 0.4rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-dropdown ul, ul li {
    /* padding-left: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%; */
    color: rgb(171, 107, 255);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10px;
    line-height: 2rem;
}

/* Not Logged In */

.login-button, .logout-button {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #c782ff;
    color: #fff;
    transition: all .15s ease-in-out;

    position: relative;
}

.login-button:hover {
    background-color: #deb6ff;
}

.logout-button:hover {
    background-color: #deb6ff;
}

.login-button {
    margin-right: 10px;
}

.logout-button {
    margin-top: 1rem;
    max-width: 100px;
}
