.navigation {
    position: fixed;
    top: 0px;
    width: 100vw;
    /* background-color: rgb(44, 44, 44); */
    z-index: 3;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

/* Logo  */

.logo-container {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 30px;
}

.content-container a {
    text-decoration: none;
    color: azure;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

/* Right side container  */
.right-container {
    width: 30%;
}


/* Explore  */

.explore {
    position: absolutef;
    font-size: 30px;
}

/* Logged in  */

.welcome-text {
    position: absolute;
    margin-left: 50px;
    color: #fff;
    font-size: 25px;
    max-width: 230px;
}

.profile-button {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: relative;
}

.loggedin-container {
    display: flex;
}

.profile-dropdown ul {
    padding-left: none;
}

/* Not Logged In */

.login-button {
    font-family: 'Arial Rounded MT Bold', sans-serif;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    height: 28px;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #128fdc;
    color: #fff;
    transition: all .15s ease-in-out;
}

.login-button:hover {
    background-color: #006dac;
}
