.navigation {
    position: fixed;
    top: -15px;
    left: -0.5px;
    width: 100vw;
}

.navigation > ul {
    list-style: none;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}

.navigation > a {
    text-decoration: none;
    color: azure;
}
